<!DOCTYPE html>
<html lang="en" style="background-color: #ebebed;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="background-color: #ebebed">
        <table border="0" align="center">
            <caption>
                <h2>
                    Modes de règlement
                </h2>
            </caption>
            <tr>
                    {{#if header.code_c}}<th bgcolor="#fff" height="50px">{{header.code_c}}</th>{{/if}}
                    {{#if header.title_c}}<th bgcolor="#fff" height="50px">{{header.title_c}}</th>{{/if}}
                    {{#if header.immediateDays_c}}<th bgcolor="#fff" height="50px">{{header.immediateDays}} </th{{/if}}>
                    {{#if header.specificity_c}}<th bgcolor="#fff" height="50px">{{header.specificity_c}}</th>{{/if}}
                    {{#if header.paymentDays_c}}<th bgcolor="#fff" height="50px">{{header.paymentDays_c}}</th>{{/if}}
                    {{#if header.additionnalDays_c}}<th bgcolor="#fff" height="50px">{{header.additionnalDays_c}}</th>{{/if}}
            </tr>
            {{#each message}}
                <tr>
                    {{#if CODE}}<td bgcolor="#f6f8fc" height="50px" align="center">{{code}}</td>{{/if}}
                    {{#if TITLE}}<td bgcolor="#f6f8fc" height="50px" align="center">{{title}}</td>{{/if}}
                    {{#if IMMD}}<td bgcolor="#f6f8fc" height="50px" align="center">{{immediateDays}}</td>{{/if}}
                    {{#if SPECIFICITY}}<td bgcolor="#f6f8fc" height="50px" align="center">{{specificity}}</td>{{/if}}
                    {{#if PAYD}}<td bgcolor="#f6f8fc" height="50px" align="center">{{paymentDays}}</td>{{/if}}
                    {{#if ADDD}}<td bgcolor="#f6f8fc" height="50px" align="center">{{additionnalDays}}</td>{{/if}}
                </tr>
            {{/each}}
        </table>

  </body>
</html>